<p id="notice"><%= notice %></p>

<p>
  <strong>Theme:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Program Description:</strong>
  <%= @topic.description %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
